AnnotationScheme.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT corpus (tokens, errors)>
<!ELEMENT errors (error*)>
<!ELEMENT tokens (token*)>
<!ELEMENT errtoks EMPTY>
<!ELEMENT error (errtoks, type, context, target?, comment?)>
<!ELEMENT type (Form|Grammar|Spelling)>

<!ELEMENT Form EMPTY>
<!ATTLIST Form cat (agglutination|register|diacritic|homonymy|speling) #REQUIRED>
<!ELEMENT Grammar EMPTY>
<!ATTLIST Grammar cat (class|aux|gender|mode|number|person|tense|voice|euphony) #REQUIRED>
<!ELEMENT Spelling EMPTY>

<!ELEMENT context (#PCDATA) >

<!ELEMENT comment (#PCDATA) >
<!ATTLIST comment author CDATA #REQUIRED >

<!ELEMENT target (#PCDATA) >
<!ELEMENT token (#PCDATA)>

<!ATTLIST token idx ID #REQUIRED>
<!ATTLIST errtoks idx IDREFS #REQUIRED>

